body{
    margin: 0px;
}
p{
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}
.stylish-writing{
    font-family: 'Abril Fatface', cursive;
    padding-left: 10px;
    font-size: 60px;
}
.big-Header{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.small-Header{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
}
.forty{
    width: 40%;
}
.sixty{
    width: 60%;
}
.full-area{
    width: 100%;
}
.all-margin{
    margin: 150px;
}
.left-border{
    border-left: 5px solid rgb(19, 23, 247);
    border-radius: 5px;
}
.button-link{
    text-decoration: none;
    padding: 10px 40px;
    background-color: rgb(19, 23, 247);
    color: white;
    border-radius: 5px;
}
.gaps{
    margin-top: 30px;
    margin-bottom: 30px;
}
.color-lightblue{
    color: rgb(116, 118, 230);
}
.text-center{
    text-align: center;
}
.three-part{
    width: 33%;
}
.card-view{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
}
.mission-background{
    background-color: blanchedalmond;
}
.vission-background{
    background-color: rgb(157, 248, 184);
}
.goal-background{
    background-color: rgb(175, 203, 255);
}
.image-size{
    width: 90%;
    border-radius: 25px;
}
.left-padding{
    padding-left: 5%;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer h1{
    font-family: 'Lobster Two', cursive;
}
.color-darkblue{
    color: rgb(19, 23, 247);
}
.shadowBox{
    box-shadow: 5px 5px 30px 10px rgb(159, 165, 160);
}
.topPadding{
    padding-top: 5%;
}
.left-margin{
    margin-left: 25%;
}
.github-section{
    background-image: url("images/background/bluish-background.png");
    background-repeat: no-repeat;
    background-position: left;
}
.linkedin-section{
    background-image: url("images/background/bluish-background.png");
    background-repeat: no-repeat;
    background-position: right;
}

